<link rel="stylesheet" href="/styles/index.css" />

</head>

<body>

    <h1 class="text-center">Your playlist</h1>

    {{#unless playlist}}
    <h2 class="mt-5 text-center">Looks like you don't have any songs to display</h2>
    {{/unless}}
    <div class="playlistRows container my-5">

 
        {{!-- <div class="row">
            <div id="playlistImage" class="col-2 my-2 ml-5"></div>
            <div class="col-9 info">
                <h5>Title: this is a ttile</h5>
                <h5>Artist: this is an artist</h5>
                <h5>Genre: the grenre</h5>
                 <button class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="playlistImage" class="col-2 my-2 ml-5"></div>
            <div class="col-9 info">
                <h5>Title: this is a ttile</h5>
                <h5>Artist: this is an artist</h5>
                <h5>Genre: the grenre</h5>
                 <button class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="playlistImage" class="col-2 my-2 ml-5"></div>
            <div class="col-9 info">
                <h5>Title: this is a ttile</h5>
                <h5>Artist: this is an artist</h5>
                <h5>Genre: the grenre</h5>
                 <button class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <hr> --}}








        {{#each playlist}}
        <div class="row">
            <div id="playlistImage" class="col-sm-2 my-2 ml-5"
                style="background-image: url({{this.image}}); background-size: cover;"></div>
            <div class="col-sm-9 info">
                <h5>Title: {{this.title}}</h5>
                <h5>Artist: {{this.artist}}</h5>
                <h5>Genre: {{this.genre}}</h5>
            </div>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </div>
        <hr>
        {{/each}}

    </div>

<a href="/index/{{token}}" class="my-5 mx-auto">
        <h2 id="addFyre">Add fyre here!</h2>
    </a>


</body>