<link rel="stylesheet" href="/styles/index.css" />

</head>

<body>

    <h1 class="text-center">Your playlist</h1>

    {{#unless playlist}}
    <h2 class="mt-5 text-center">Looks like you don't have any songs to display</h2>
    {{/unless}}
    <div class="playlistRows container my-5">

        {{#each playlist}}
        <div class="row">
            <div id="playlistImage" class="col-2 my-2 ml-5"
                style="background-image: url({{this.image}}); background-size: cover;"></div>
            <div class="col-9 info">
                <h5>Title: {{this.title}}</h5>
                <h5>Artist: {{this.artist}}</h5>
                <h5>Album: {{this.album}}</h5>
                <button data-id="{{this.id}}" class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <hr>
        {{/each}}

    </div>

    <a href="/index/{{token}}" class="my-5 mx-auto">
        <h2 id="addFyre">Add fyre here!</h2>
    </a>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">


    $(function() {

        $(".delete").on("click", function (event) {
            console.log("clicked")
            let id = parseInt($(this).attr("data-id"))

            $.ajax('/api/delete/' + id, {
                type: 'DELETE'
            }).then(function () {
                console.log("deleted");
                location.reload();
            })
        })
  })

    </script>
</body>